
# BEGIN EnvatoBackup
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=b938bd5cf2550aef8f711f09b9c42304
RewriteRule (.*) - [F]
</IfModule>

# END EnvatoBackup